.popUp
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  background rgba(0,0,0,0.5)

.popUp p
  display inline-block
  padding-top 10%
  color #ffff
  margin-left 10px

.popUp img
  width 20%
  float right