.footerContainer
  height 84px
  background-color #fff
  overflow hidden
  position absolute
  width 100%
  bottom 0
  left 0
  .footerTip
    font-size 10px
    color #999999
    width 100%
    text-align center